<div class="container-fluid">
  <!-- Content here -->
  <div class="row">
    <div class="col-md-2">
      <nav>
        <a routerLink="/chart">Chart</a>
      </nav>
      <nav>
        <a routerLink="/device">Devices</a>
      </nav>
      <nav>
        <a href="" (click)="back()">Back</a>
      </nav>
    </div>
    <div class="col-md-10">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<!--<h1>{{title}}</h1>-->
<!--<nav>-->
<!--  <a routerLink="/chart">Chart</a>-->
<!--</nav>-->
<!--<router-outlet></router-outlet>-->
